.project-list-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-list-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.project-list-container ul {
  list-style-type: none;
  padding: 0;
}

.project-list-container li {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-list-container li h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.project-list-container li p {
  margin: 0;
  color: #666;
}