.presentation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-color: #333; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
}

.section-one-presentation {
  max-width: 700px;
  text-align: center;
}

.logo {
  font-size: 4em;
  color: #ff5722; /* Color naranja */
}

.logo-icon {
  vertical-align: middle; /* Alineamos verticalmente el icono */
  height: 195px;
}

.section-one-presentation h1 {
  font-size: 2.5em;
  margin-top: 20px; /* Espacio superior */
}

.section-one-presentation p {
  font-size: 1.2em;
  margin-bottom: 20px; /* Espacio inferior */
}

.section-two-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Espacio superior */
  margin-bottom: 30px;
}

.button-container {
  display: flex;
}

.section-two-button {
  background-color: #ff5722; /* Color naranja */
  color: #fff; /* Texto blanco */
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  margin: 0 10px;
  font-size: 1.2em;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center; /* Centramos los elementos verticalmente */
}

.section-two-button:hover {
  background-color: #ff7043; /* Color naranja más claro */
  transform: scale(1.1); /* Escala aumentada al pasar el ratón */
}

.icon {
  margin-right: 10px; /* Espacio entre el icono y el texto */
}
