.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333; /* Fondo oscuro */
}

.form-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Efecto de relieve */
  padding: 40px;
  width: 70%; /* Ajusta el ancho del formulario */
  max-width: 400px; /* Ancho máximo del formulario */
}

.form-title {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.form-input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.form-button {
  background-color: #ff5722; /* Color naranja */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

.form-button:hover {
  background-color: #ff7043; /* Color naranja más claro */
}

.error-message {
  color: red;
  margin-top: 10px;
}

.form-link {
  margin-top: 20px;
  text-align: center;
  color: #333;
}

.form-link a {
  color: #007bff;
  text-decoration: none;
}
